:root {
  --color-primary: #050038;
  --color-secondary: #4262ff;
  --color-text: #05003899;
  --color-yellow: #ffd02f;
  --color-white: #fff;
  --color-lavender: #F1F3FD;
  --color-manatee: #9B99AF;
  --color-gray-94: #F0F0F0;
  --color-gray-95: #f2f2f2;

  --radius-10: 10px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-primary);
  background-color: var(--color-white);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
}

.title {
  margin: 0 0 20px;
  font-size: 48px;
  line-height: 116.667%;
  letter-spacing: 1px;
  text-wrap: balance;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
  }
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.33%;
  color: var(--color-text);
}

.link {
  max-width: max-content;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.33%;
  transition: all .2s ease;
}

.link_underline {
  border-bottom: 1px solid;
}